
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
<div class="container-fluid">
<h2>{{title}}</h2>

<label>
  Siteswap:
  <input type="text" [formControl]="siteswapForm">
</label>
<span *ngIf="isValid" class="text-success"> &#10003; valid {{numObjects}} object siteswap</span>
<span *ngIf="!isValid" class="text-danger"> &#10005; invalid siteswap</span>
<span class="text-muted"> (only asynchronous vanilla siteswaps are currently supported)</span>
<accordion>
  <accordion-group heading="Configuration options" [isOpen]="false">
    <app-config></app-config>
  </accordion-group>
  <accordion-group heading="Siteswap diagram"
                   [isOpen]="true">
    <app-siteswap-diagram></app-siteswap-diagram>
  </accordion-group>
  <accordion-group heading="Ladder diagram"
  [isOpen]="true">
<app-ladder-diagram></app-ladder-diagram>
</accordion-group>
  <accordion-group heading="About">
    <app-about></app-about>
  </accordion-group>
</accordion>
</div>
