<form [formGroup]="configForm">
    <div class="row">
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Number of throws to display</span>
            <input type="number" class="form-control" formControlName="numThrows">
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text" id="ThicknessIncrementInputLabel">Visual space between throws</span>
            <input type="number" class="form-control" formControlName="throwSpacing">
        </div>
        <div class="col-sm form-check mb-3">
            <label>
                <input type="checkbox" class="form-check-input" id="finalCatchesCheck"
                    formControlName="showFinalCatches">
                <label class="form-check-label" for="finalCatchesCheck">Show final catches</label>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Line thickness</span>
            <input type="number" class="form-control" formControlName="lineThickness">
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Line color</span>
            <input type="text" class="form-control" formControlName="lineColor">
        </div>
        <div class="col-sm input-group mb-3"></div>
    </div>

    <div class="row">
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Separator thickness</span>
            <input type="number" class="form-control" formControlName="sepThickness">
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Separator color</span>
            <input type="text" class="form-control" formControlName="sepColor">
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Background color</span>
            <input type="text" class="form-control" formControlName="backgroundColor">
        </div>
    </div>

    <div class="row">
        <div class="col-sm form-check mb-3">
            <label>
                <input type="checkbox" class="form-check-input" id="centerLineCheck" formControlName="showCenterLine">
                <label class="form-check-label" for="centerLineCheck">Show center line</label>
            </label>
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Center line color</span>
            <input type="text" class="form-control" formControlName="centerLineColor">
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Center line thickness</span>
            <input type="number" class="form-control" formControlName="centerLineThickness">
        </div>
    </div>

    <div class="row">
        <div class="col-sm form-check mb-3">
            <label>
                <input type="checkbox" class="form-check-input" id="showValueAtThrowCheck"
                    formControlName="showValueAtThrow">
                <label class="form-check-label" for="showValueAtThrowCheck">Show value at throw</label>
            </label>
        </div>
        <div class="col-sm form-check mb-3">
            <label>
                <input [readonly]="!configForm.value.showValueAtThrow" type="checkbox" class="form-check-input"
                    id="onlyStartingThrowsCheck" formControlName="onlyStartingThrows">
                <label class="form-check-label" for="onlyStartingThrowsCheck">Only show starting throw values</label>
            </label>
        </div>
        <div class="col-sm form-check mb-3">
            <label>
                <input type="checkbox" class="form-check-input" id="showValueAtPeakCheck"
                    formControlName="showValueAtPeak">
                <label class="form-check-label" for="showValueAtPeakCheck">Show value at peak</label>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Value radius</span>
            <input type="number" class="form-control" formControlName="valueRadius">
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Value outline thickness</span>
            <input type="number" class="form-control" formControlName="valueOutlineThickness">
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Value text size</span>
            <input type="number" class="form-control" formControlName="valueTextSize">
        </div>
    </div>
    <div class="row">
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Value background color</span>
            <input type="text" class="form-control" formControlName="valueBackgroundColor">
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Value outline color</span>
            <input type="text" class="form-control" formControlName="valueOutlineColor">
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Value text color</span>
            <input type="text" class="form-control" formControlName="valueTextColor">
        </div>
    </div>

    <div class="row">
        <div class="col-sm form-check mb-3">
            <label>
                <input type="checkbox" class="form-check-input" id="showHandLabelsCheck"
                    formControlName="showHandLabels">
                <label class="form-check-label" for="showHandLabelsCheck">Label hands</label>
            </label>
        </div>
        <div class="col-sm input-group mb-3">
            <span class="input-group-text">Number of jugglers</span>
            <input type="number" class="form-control" formControlName="numJugglers">
        </div>
        <div class="col-sm input-group mb-3"></div>
    </div>

    <div class="row">
        <div class="col-sm form-check mb-3">
            <label>
                <input type="checkbox" class="form-check-input" id="invertCheck" formControlName="invert">
                <label class="form-check-label" for="invertCheck">Invert direction</label>
            </label>
        </div>
        <div class="col-sm form-check mb-3">
            <label>
                <input type="checkbox" class="form-check-input" id="unidirectionalCheck"
                    formControlName="unidirectional">
                <label class="form-check-label" for="unidirectionalCheck">Unidirectional</label>
            </label>
        </div>
        <div class="col-sm form-check mb-3">
            <label>
                <input type="checkbox" class="form-check-input" id="flattenCheck" formControlName="flatten">
                <label class="form-check-label" for="flattenCheck">Flatten non-throws</label>
            </label>
        </div>
    </div>

</form>

<div class="row">
        <input type="button" class="btn btn-secondary" id="downloadButton" (click)="downloadConfig()"
            value="Download current settings" />
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload hidden="true">
        <div class="file-upload">
            <input type="button" class="btn btn-secondary" id="uploadButton" (click)="fileUpload.click()"
                value="Upload settings file" />
        </div>
</div>